// For multiselects.
//= require select2

// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//@import "active_admin/mixins";
//@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

/* custom overrides */

#active_admin_content {
  /* multiselects should be taller */
  fieldset.inputs li.select.input select[multiple=multiple] {
    height: 300px;
  }
}

div.select2-container {
  width: 700px;
}

#glycemic_problem_children_input, #trigger_children_input, #barrier_children_input {

  div.select2-container {

    ul.select2-choices {

      padding-right: 5px;

      li {
        display: block;
        float: none;
      }
    }
  }
}
